<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>登録内容確認</h1>
  <div>
    <div>
      Movie Title: <%=@post_title%>
    </div>  
    <div>
      Impressions:
      <p>
        <%=@post_impressions%>
      </p>
    </div>    
  </div>
</body>
</html>
